* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, button, section, main, ul {
  margin: 0;
  padding: 0;
}

/*******/
/* NAV */
/*******/

.app--nav-ul {
  display: flex;
  justify-content: center;
}

.app--nav-li {
  list-style: none;
}

.app--nav-li > a {
  color: red;
  text-decoration: none;
}

.app--nav-li.-home {
  margin-right: auto;
}